<script lang="ts" setup>
import { ref } from "vue";
import { useRoute } from "vue-router";
import type { AddModule, Module } from "../store";
import { useStore } from "../store";
import ReInput from "@/components/ui/ReInput.vue";
import ReButton from "@/components/ui/ReButton.vue";
import router from "../router";

const route = useRoute();
const store = useStore();
const moduleName = route.params.moduleName as string;
const isAdding = ref(!moduleName);
console.log("isAdding", isAdding); //eslint-disable-line
const defaultModule = () => ({
  title: "",
  name: "",
});

const module = ref<Module | AddModule>(
  isAdding.value
    ? defaultModule()
    : (store.getModuleByName(moduleName) as Module)
);
const submit = async () => {
  await store.setModule(module.value);
};
if (!isAdding.value) {
  store.getQuestions(module.value.id);
}

const newQuestion = ref("");
</script>
<template>
  {{ module }}
  <article :aria-busy="!module">
    <h2>Basfakta</h2>
    <form @submit.prevent="submit" v-if="module">
      <ReInput v-model="module.title" :is-readonly="!isAdding" label="Title" />
      <ReInput
        v-model="module.name"
        :is-readonly="!isAdding"
        label="Kortname"
      />
      <ReButton type="submit" v-if="isAdding"> Skapa </ReButton>
    </form>
    <template v-if="!isAdding">
      <h2>Frågor</h2>
      <div
        v-for="question in store.questions[module.id]"
        :key="question.id"
        class="question"
      >
        <p style="flex-grow: 1">{{ question.question }}</p>
        <div>
          <ReButton @click="store.removeQuestion(module.id, question.id)"
            >🗑</ReButton
          >
        </div>
      </div>
      <h3>Lägg till fråga</h3>
      <form
        @submit.prevent="
          () => {
            store.addQuestion(module.id, {
              question: newQuestion,
              questionType: 0,
            });
            newQuestion = '';
          }
        "
      >
        <ReInput v-model="newQuestion" label="Fråga" />
        <ReButton type="submit"> Lägg till </ReButton>
      </form>
    </template>
  </article>
</template>

<style>
.question {
  display: flex;
  justify-content: space-between;
}
</style>
